.ship{
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    margin: auto;
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
}
button{
    background-color: transparent;
    border:none;
    display: block;
}