.background{
    background-image: url('../../assets/space.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    height: auto;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}