<div style="background: black;
color: blue;
margin: auto;
width: 100%;
">
  <h3 style="    margin: auto;
width: 100%;
text-align: center;
padding-top: 20px;
font-size: -webkit-xxx-large;">בחר את החללית שלך</h3>
</div>
<div class="background">
  <div class="list">
    <app-ship-frame *ngFor="let ship of ships" style="flex: 0 0 32%;" [img]="ship.img" (click)="selectedShip=ship; startGame()">
      <app-ship [shotId]="ship.shotId" [id]="ship.id" [img]="ship.img"
        (click)="selectedShip=ship; startGame()">
      </app-ship>
    </app-ship-frame> 
  </div>
</div>
