.frame{
    width:500px;
    height:500px;
    border: 2px white solid;
    padding:20px;
    margin:10px;

}
.btnShip{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/ship.png);
    height: 248px;
    width: auto;
    margin: auto;
    margin-top: 20%
}